@using Bookstore.Models
@model IEnumerable<BookAllViewModel>

@{
    ViewData["Title"] = "All";

}

<h1>All Books</h1>
<p>
    <a asp-action="Create">Create New Book</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <td>
                <a asp-action="Edit" asp-controller="Dogs" asp-route-id="@item.Id">Edit</a>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
        <form asp-controller="Books" asp-action="All" method="get">
            <p>
                Genre:<input type="text" name="SearchStringGenre" />
                Price:<input type="text" name="SearchStringPrice" />
                <input type="submit" value="Filter" />
            </p>
        </form>
    </tbody>
</table>

